<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zadanie rekrutacyjne - Mariusz Koniarz{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Ankietki</h1>  
        </div>
        {% if app.user %}
            <div class="mb-3">
                Jesteś zalogowany jako {{ app.user.username }}, <a href="{{ path('app_logout') }}">wyloguj</a>
            </div>
        {% endif %}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    (C) 2021 Mariusz Koniarz<br/>
                    mkoniarz@gmail.com<br/>
                    tel: 608559164<br/>
                    <img src="images/under-construction.gif"/>
                </div>
            </div>
        </div>
    </body>
</html>
